@charset "utf-8";
/* CSS Document */

header {
	text-align:center;	
}

#container {
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:#CCC;	
}

h1 {
	text-align:center;	
}

#paragraph {
	margin-right:400px;
	font-family:"Lucida Console", Monaco, monospace;	
}

#link {
	color:#F00;
	font-style:italic;
	font-weight:800;
}

blockquote {
	border: 1px solid #000;
}

img {
	margin-right:auto;
	margin-left:auto;
	width:auto;	
}

table, tr, td {
	border:1px solid #000;
}